<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
	
<beans>

    <bean id="baseService"
	    class="com.wirelesscity.service.impl.BaseServiceImpl">
	</bean>
	
    <bean id="ftpService"
	    class="com.wirelesscity.tools.ftp.FtpServiceImpl">
	    <property name="ftpIpAddress">
			<value>${ftp.ipAdrress}</value>
		</property>
		<property name="ftpPort">
			<value>${ftp.port}</value>
		</property>
		<property name="ftpUserName">
			<value>${ftp.username}</value>
		</property>
		<property name="ftpPassword">
			<value>${ftp.password}</value>
		</property>
		<property name="ftpLocalPathRoot">
			<value>${ftp.localPathRoot}</value>
		</property>
		<property name="ftpRemotePathRoot">
			<value>${ftp.remotePathRoot}</value>
		</property>
	</bean>
	
    <bean id="jdbcService"
	    class="com.wirelesscity.service.impl.JdbcServiceImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="spService"
	    class="com.wirelesscity.service.impl.SPServiceImpl" parent="jdbcService">
	</bean>
	
	<bean id="generalStatActionBean"  class="com.wirelesscity.action.stats.GeneralStatAction">
	    <property name="spService" ref="spService"></property>
	    <property name="ftpService" ref="ftpService"></property>
	</bean>
	
	<bean id="autoPushService"
		    class="com.wirelesscity.service.impl.AutoPushServiceImpl">
		<property name="generalStatActionBean" ref="generalStatActionBean" />
	</bean>
	
		
	<bean id="ssoSystemConfigService"
		    class="com.sso.service.SsoSystemConfigServiceImpl">
		<property name="ssoSystemConfigDao" ref="ssoSystemConfigDao" />
	</bean>
	
	
	
</beans>

