<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>yf</display-name>
	<distributable />
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/spring/applicationContext-resources.xml
            classpath:/spring/applicationContext-dao.xml
       		classpath:/spring/applicationContext-service.xml
            classpath:/spring/applicationContext-action.xml
            classpath:/spring/applicationContext-mail.xml
        </param-value>
	</context-param>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>authorizationFilter</filter-name>
		<filter-class>com.wondertek.meeting.filter.AuthorizationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>struts-prepare</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
		<init-param>
			<param-name>actionPackages</param-name>
			<param-value>com.wondertek.meeting.action</param-value>
		</init-param>
	</filter>	
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
		<init-param>
			<param-name>actionPackages</param-name>
			<param-value>com.wondertek.meeting.filter.StaticFilter</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authorizationFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authorizationFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authorizationFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>  
		<listener-class>com.wondertek.meeting.filter.OnlineUserListener</listener-class>  
	</listener>


	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>/pages/admin/login.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/pages/admin/login.jsp</location>
	</error-page>
	
	<jsp-config>
		<taglib>
		<taglib-uri>http://www.wondertek.com.cn/tags/wd</taglib-uri>
		<taglib-location>/WEB-INF/tlds/wd.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	
	<servlet> 
		 <servlet-name>DisplayChart</servlet-name> 
		 <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>DisplayChart</servlet-name> 
		<url-pattern>/DisplayChart</url-pattern> 
	</servlet-mapping> 
	
</web-app>
