html {
	height:100%;
}
#mainframe {
	background-color:#FFFFFF;
}

#leftframe {
	margin: 0px;
	background-color: #E5F4FD ;
	font-family: "微软雅黑", "宋体", Tahoma, Verdana;
	font-size: 10px;
	height:100%;
}


div.shortcut{	
	height:100%;	
	background: url(../images/shortcut.jpg) repeat-x;
	layout-flow : horizontal; 
	text-align: right;
	vertical-align: middle;
	overflow:hidden;
}
	
.shortcut img {
	border:0px;
	vertical-align: middle；
}
.shortcut span {
	font-family:"微软雅黑","宋体",arial;	
	font-size: 12px;
	margin: 5px;
}


.shortcut a {
	text-decoration:none;
	line-height:26px;
	height:26px;	
}


.shortcut a:link ,a:visited { font-size: 12px; text-decoration: none; color: black; }

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}
