@CHARSET "UTF-8";

.container {
	width:980px;
	margin:10px;
	font-size:14px;
	border:0px solid gray;
}

.container .top {
	width:100%;
	height:40px;
	border-bottom: 4px solid #5959FF;
}

.container .top .title {
	width:180px;
	height:40px;
	margin-left:20px;
	background:#5959FF;
	font-size:24px;
	font-weight:bold;
	line-height:40px;
	color:white;
	text-align:center;
}

.container .goods {
	width:170px;
	height:295px;
	margin:15px 35px;
	float:left;
}

.pic {
	width:180px;
	height:177px;
}

.pic img {
	width:180px;
	height:177px;
	border:0px;
}


.container .goods .description {
	text-align: center;
}

.container .goods .description .network {
	color: gray;
}

.container .goods .description .price {
	
}

.money {
	color: red;
}

.container .goods .description .comments {
	color: gray;
}

.clear {
	float: none;
	clear: both;
}
.f16 {
	font-size: 16px;
}

a.page_btn { width:76px; height:36px; text-align:center; text-decoration:none;line-height:36px; color:#fff; background:url(../images/wap/page_btn.png) 0px 0px no-repeat; display:inline-block; font-weight:bold; font-size:24px;}

.main .page_bg { padding:2px 2px; height:38px; background:url(../images/wap/top_bg.png) 0px 0px repeat}
.main .gift { padding-top:10px; height:244px;}