@charset "utf-8";
/* CSS Document */
/* Author: H.yIng & Create Time: 2011-11-23 */
@import url("public.css");

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}:focus{outline:0;}

/* Global */
body,div,table,form,p,select,input,textarea,option,a {
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.5; font-size: 12px; color: #333;
}
body { text-align:center; background:#fff;}
div,table { text-align:left;}

/* Common */

a { text-decoration:none; color:#0196ff;}
a:hover { text-decoration:none; color:#005ea1;}

.clearfix { clear:both;}
.highlight { background:#ff0; color:#e00; border-radius:3px;}
.w960 { width:960px; margin:0 auto;}

/* Layout */
.header { height:100px; }
.header .title { float:left; margin-top:20px;}
.header .title li { float:left; margin-right:5px;}
.header .title li h3 { line-height:42px;  padding-left:10px; font-weight:bold; font-size:26px; color:#0656a5; font-family:"黑体";}
.header .title li h3.wordbreak { line-height:20px;  padding-left:10px; font-weight:bold; font-size:22px; color:#0656a5; font-family:"黑体";}
.header .detail { float:right; font-size:16px; color:#0656a5; line-height:24px; margin-top:25px;}

.nav { height:40px; background:url(../images/portal/nav_bg.jpg) top center repeat-x; margin-bottom:10px;}
.nav .big { float:left;}
.nav .small { float:right; background:url(../images/portal/nav_line.jpg) top left no-repeat; padding-left:15px; height:40px;}
.nav li { float:left;}
.nav a { text-align:center;}
.nav .big li { margin-right:5px;}
.nav .big a { width:80px; height:40px; line-height:40px; display:block; font-size:14px; color:#fff; font-weight:bold;}
.nav .big li.act a,.nav .big li.hover a{ background:url(../images/portal/nav_act.jpg) top center no-repeat; color:#0070bf;}
.nav .big li.more a span { width:16px; height:7px; display:inline-block; background:url(../images/portal/nav_arrow.gif) top center no-repeat;}
.nav .big li ul li { margin:0px;}
.nav .big li ul li.act { background:#2378b2;}
.nav .small li { margin-top:5px; width:84px; height:31px; overflow:hidden;}
.nav .small a { color:#fff; line-height:31px; display:block; background:url(../images/portal/nav_small_icon.png) 0px 0px no-repeat; margin-left:4px; padding-left:18px;}
.nav .small li.act { background:url(../images/portal/nav_small_act.jpg) top center no-repeat;}
.nav .small a.i01 { background-position:0px 1px;}
.nav .small a.i02 { background-position:0px -29px;}
.nav .small a.i03 { background-position:0px -59px;}
.nav .small a.i04 { background-position:0px -89px;}
.nav .small a.i05 { background-position:0px -119px;}
.nav .small a.i06 { background-position:0px -149px;}
.nav .small a.i07 { background-position:0px -179px;}

.nav .big li.more { position:relative;z-index:999;}
.nav .big li.more ul { display:none; position:absolute; top:40px; right:0px; background:#4aa8e8;}
.nav .big li.more ul li {}
.nav .big li.more ul li a { background:none; height:25px; line-height:25px; border-bottom: 1px solid #5fb5ef;}
.nav .big li.more ul li a:hover { background:#2378b2;}
.nav .big li.more ul li.act a { color:#af0;}

.cbody { float:right; width:670px;}
.cright { float:left; width:270px;}

.cbox { margin-bottom:10px;}
.cbox .title { background:#ebf2f7 url(../images/portal/cbox_t.jpg) top left no-repeat; height:30px;}
.cbox .second_title { background:#ebf2f7 top left no-repeat;}
.cbox .second_title h5 { line-height:30px;  font-weight:bold; font-size:14px; padding-left:15px;}
.cbox .second_title_nav { background:#ebf2f7;text-align:right;height:35px;}
.cbox .title h5 { line-height:30px; color:#2392e1; font-weight:bold; font-size:16px; padding-left:15px; float:left;}
.cbox .title h5 .time {padding-left:10px; font-weight:normal; color:#000;}
.cbox .title .title_tab { float:right;}
.cbox .title a.more { float:right; line-height:30px; padding-right:10px; color:#005ea1;}
.cbox .cont { margin:10px 10px 0px; line-height:25px; font-size:14px;}
.cbox .download { width:270px; height:56px; display:block; overflow:hidden; background:url(../images/portal/download.jpg) 0px 0px no-repeat;}
.cbox .download:hover { background-position:0px -56px;}
.cbox .download:active { background-position:0px -112px;}
.cbox .cont .tel { font-size:20px; font-weight:bold; color:#f30;}

.pic_list { display:inline-block;}
.pic_list li { float:left; display:inline-block; margin:0px 6px 10px 0px;}
.pic_list li a { width:120px; height:90px; display:block; border:2px solid #f2f2f2;}
.pic_list li a:hover { border:2px solid #9fd337;}
.pic_list li img { width:120px; height:90px; }

.footer { text-align:center; background:#ebf2f7; line-height:30px; display:block; height:30px; clear:both; margin:10px auto;}
.footer_fixed{position:fixed;bottom:0px;width:100%;}
/* 除IE6浏览器的通用方法 */
.ie6fixedTL{position:fixed;left:0;top:0}
.ie6fixedBR{position:fixed;right:0;bottom:0} 
/* IE6浏览器的特有方法 */
/* 修正IE6振动bug */* 
html,* html body{background-image:url(about:blank);background-attachment:fixed}
* html .ie6fixedTL{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop))}
* html .ie6fixedBR{position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))} 

.content_tab { display:block;}
.content_tab li { display:inline-block; float:left;}
.content_tab a { line-height:30px; padding:0px 10px; display:block; color:#333;}
.content_tab a.message { background-color: #2392E1;  color: #FFFFFF; padding: 0px;  text-align: center;  width: 80px;}
.content_tab li.act a { font-weight:bold; color:#fff; width:80px; height:35px; background:url(../images/portal/content_tab_act.gif) top center no-repeat; text-align:center; line-height:30px;}

.content_table { width:100%; margin:5px auto;}
.content_table,.content_table th,.content_table td { border-collapse:collapse; padding:5px 10px; font-size:14px; border:1px solid #bbd3e5; text-align:left;}
.content_table thead { background:#ebf2f7;}
.content_table tbody { background:#f5f5f5;}
.content_table thead th { font-weight:bold;}
.content_tab_date { display: -moz-grid-line; float: right;}
.content_tab_message { display: -moz-grid-line; float: left;}
.content_table_date,.content_table_date th,.content_table_date td {padding:2px; font-size:12px; }

a.btn_blue { width:80px; height:30px; text-align:center; line-height:30px; color:#fff; background:url(../images/portal/btn.jpg) 0px 0px no-repeat; display:inline-block; font-weight:bold;}
a.btn_blue:hover { background-position:0px -30px;}
a.btn_blue:active { background-position:0px -60px;}

.message_sub { display:block; height:70px;}
.message_sub span.ipt { width:860px; height:70px; overflow:hidden; float:left; background:url(../images/portal/message_input.jpg) 0px -70px no-repeat;}
.message_sub span.focus { background-position:0px 0px;}
.message_sub span.ipt textarea { margin:5px 10px; border:0px; width:98%; height:60px; color:#ccc; font-size:14px;}
.message_sub span.focus textarea {color:#333;}
.message_sub span.sbm { width:77px; height:68px; margin-right:13px; overflow:hidden; float:right;}
.message_sub p.limit {display: inline-block;text-align: right;color:#999;font-size:12px;width:850px;}
.message_sub p.limit a.emotion {font-size: 12px;}
.message_sub p.limit a.picture {font-size: 12px;}
.message_sub span.tools {margin-left: 10px;float:left;}
.message_sub .upload-area {position: relative;overflow: hidden;margin: 0;padding: 0;}
.message_sub .upload-file {position: absolute;top: 0;left: 0;padding: 0;margin: 0;z-index: 811212;border: 0 none;opacity: 0;filter: alpha(opacity=0);width: 56px;}
.message_sub .upload-button {cursor: pointer;overflow: visible;display: inline-block;vertical-align: top;}
.message_sub div.emotionpanel {background-color:#fefefe;border-width:1px 3px 3px 1px;border-color: #BDDAF2;border-style:solid;-webkit-border-radius: 6px;-moz-border-radius:6px;padding:6px;margin:0px 20px;display:none;position: absolute;width: 363px;}
.message_sub div.emotionpanel li{float:left; width:28px; height:28px; padding:0 5px 5px 0;}
.message_sub div.emotionpanel li a {display:block; text-decoration:none; border:1px dashed #DDD; width:26px; height:26px; line-height:26px; overflow:hidden; text-align:center;}
.message_sub div.emotionpanel li a:hover {border-color:#999;}
.message_sub div.emotionpanel li a span {display:inline-block;}
.message_sub div.emotionpanel li a img {vertical-align:middle;}
.message_sub div.emotionpanel ul {zoom:1;}
.message_sub div.emotionpanel ul:after{ content:"\0020"; display:block; height:0; line-height:0; clear:both; visibility:hidden;}
.message_sub div.emotionpanel li a.close{background-image: url("../images/close.gif");background-position: 0 -11px;height: 11px;width: 11px;margin-left: 10px;margin-top: 10px;border: none;}
.message_sub div.emotionpanel li a.close:hover {background-position: 0 0;}
.message_sub span.sbm input { background:url(../images/portal/message_submit.jpg) top left no-repeat; border:0px; width:77px; height:68px;}


.message_list {margin-top:10px;}
.message_list li { padding:5px 10px; display:inline-block; border-bottom:1px dashed #ccc; width:100%; margin:0 auto;}
.message_list li.odd { background:#f0f8fd;}
.message_list li span.comment,.message_list li span.ctrl { float:right; margin-left:50px; font-size:12px;}
.message_list li span.time { font-size:12px; color:#aaa; float:left;}
.message_list li span.name a { font-size:14px; font-weight:bold;}
.message_list li p { clear:both; display:block; line-height:25px; font-size:14px;}
.message_list li span.name {color:#1DA1FF; cursor:pointer;}
.message_list .latest_comment {border-style:solid;border-width:1px;font-size:12px;line-height:20px;margin:5px 0 7px;padding:15px 20px 13px;background:none repeat scroll 0 0 #FBFBFB;border-color:#E1E4E5;color:#777777;zoom:1;-moz-border-radius:3px;-webkit-border-radius:3px;}
.message_list .latest_comment .arrow {margin-top: -34px;height: 11px;width: 25px;}
.message_list .latest_comment .arrow * {display: block;font-family: "SimSun";font-size: 24px;height: 18px;overflow: hidden;}
.message_list .latest_comment .arrow span {margin: -17px 0 0;color: #FBFBFB;}
.message_list .latest_comment .arrow_line {color: #E1E4E5;font-style: normal;font-weight: normal;}
.message_list .latest_comment .comment_list {border-top-color:#ccc;border-top-style: dotted;border-top-width: 1px;clear: both;margin-top: 8px;overflow: hidden;padding-top: 8px;}
.message_list .latest_comment .comment_list .links {display:inline;float:right;}
.message_list .latest_comment .comment_list .links a {font-size:12px;}
.message_list .latest_comment .comment_list dd {width:auto; line-height: 21px; word-wrap:break-word; color:#777;}
.message_list .latest_comment .comment_list dt {width:auto; line-height: 21px; word-wrap:break-word; color:#777;}

.message_list div.card {z-index:999;background-color: #F3FBFE;border: 4px solid #C6E7F6;border-radius: 4px 4px 4px 4px;box-shadow: 0 1px 11px #CCCCCC;display: none;position: absolute;}
*+html .message_list div.card {width:400px;}
.message_list div.card h1 {margin-left: 5px;}
*html .message_list div.card {width:400px;}
.message_list div.card a.close{background-image: url("../images/close.gif");background-position: 0 -11px;float: right;height: 11px;margin-right: 2px; margin-top: 2px;width: 11px;}
*+html .message_list div.card a.close {margin-top:-15px;}
*html .message_list div.card a.close {margin-top:-15px;}
.message_list div.card a.close:hover {background-position: 0 0;}
.message_list div.card table {border: none;}
.message_list div.card td {font-size:12px;}
.message_list div.card td.label {font-weight: bold; text-align:right;}
.message_list div.card td.value {text-align:left;}

.agenda { background:#ebf2f7;text-align:right;height:35px;display:inline-block;}
.agenda .content_tab a.adate { font-size:12px; width:100px;}
.agenda .content_tab li.act a.adate { width:100px; font-size:10px;}
.agenda .content_tab li.more { position: relative;}
.agenda .content_tab li.more ul {background: none repeat scroll 0 0 #ebf2f7; display: none; position: absolute; right: 0; top: 30px;}
.agenda .content_tab li.more ul li a {text-align:left; width:110px; background:none; height:25px; line-height:25px; border-bottom: 1px solid #5fb5ef;}
.agenda .content_tab li.more ul li.act a { color:#000000; font-size:11px; text-align:left; width:110px;}
.agenda .content_tab li.more a span { font-size:6px;}

.message_new {text-align: left; vertical-align: middle; padding-top: 35px;}
.message_new textarea {	width: 80%; resize: none; border: 1px solid #BDDAF2;}
.message_new textarea:focus {border: 1px solid #0099FF; box-shadow: 0 0 3px #0099FF;}
.message_new a.recipient { margin-bottom: 5px;}
.message_new a.send { margin-right: 90px; margin-top: -40px; float: right;}

.message_addressbox li.contact {display: inline-block;background-color: #EBF2F7;border: 1px solid #BDDAF2;color: #666666;*display: inline;zoom: 1;float:left;margin: 0 2px 2px 2px;padding: 2px;}
.message_addressbox a.delete {text-decoration:none;background-image: url("../images/close.gif");background-position: 0 -11px;float: left;height: 11px;margin-right: 2px;width: 11px;*margin-top:-20px;*line-height: 11px;*display: block;}
.message_addressbox a.delete:hover {background-position: 0 0;}
.message_addressbox span.name {*margin-left: 11px;}




#focus {width:250px; height:183px; margin:0px auto; overflow:hidden; padding:10px 0px; position:relative;}
#focus ul {height:183px; position:absolute;}
#focus ul li {float:left; width:250px; height:183px; overflow:hidden; position:relative; background:#000;}
#focus ul li div {position:absolute; overflow:hidden;}
#focus .btnBg {position:absolute; width:250px; height:40px; left:0; bottom:0;}
#focus .btn {position:absolute; width:250px; height:24px; left:5px; bottom: 15px; text-align:right;}
#focus .btn span {display:inline-block; _display:inline; _zoom:1; width:24px; height:24px; background:#000; line-height:24px; text-align:center; font-size:14px; margin-right:10px; cursor:pointer; color:#ccc; }
#focus .btn span.on {background:#25A125; color:#fff; font-weight:bold;}

.yongcan_list {}
.yongcan_list li { border-bottom:1px dashed #ccc; display:inline-block; width:100%; clear:both;}
.yongcan_list li p { margin:3px auto;}
.yongcan_list li p.tit { float:left; font-size:14px; font-weight:bold; padding:0px 5px;}
.yongcan_list li p.cot { float:left; line-height:22px;}

table.data_list { border:1px solid #bbd3e5; width:100%; margin:5px 0px;}
table.data_list,table.data_list th,table.data_list td { border-collapse:collapse; padding:8px 10px; border:1px solid #bbd3e5;}
table.data_list thead { background:#ebf2f7;}
table.data_list tbody { background:#f5f5f5;}
table.data_list th { font-weight:bold; text-align:left; color:#333;  font-size:14px;}
table.data_list span.hl { color:#2392e1;}
table.data_list span.type { padding-left:20px;}
table.data_list span.type.jpg { background:url(../images/portal/filetype_jpg.jpg) center left no-repeat;}
table.data_list a.down { padding-left:15px; background:url(../images/portal/filetype_down.gif) center left no-repeat;}

/* 用户欢迎 */
.user_info { width:270px; height:53px; overflow:hidden; background:url(../images/user_info.jpg) 0px 0px no-repeat;}
.user_info span.date { width:65px; float:left; text-align:center; line-height:20px; color:#666; margin-top:5px;}
.user_info span.date s { display:block; font-weight:bold; font-size:14px; text-decoration:none;}
.user_info span.welc { line-height:53px; font-size:14px; color:#666; padding-left:5px;}
.user_info span.welc b { color:#74a415;}

.user_tools { clear:both; display:block; margin:10px auto; text-align:center;}
.user_tools a { background:url(../images/welc_icon.gif) 0px 0px no-repeat; padding:0 15px; padding-left:20px;}
.user_tools a.a02 { background-position:0px -16px;}
.user_tools a.a03 { background-position:0px -32px;}

/* 互动交流 */
.hd_bg { width:802px; overflow:hidden; margin:0 auto;}
.hd_bg .t { width:802px; height:15px; overflow:hidden; background:url(../images/hd_bg_t.gif) top center no-repeat;}
.hd_bg .m { width:802px; background:url(../images/hd_bg_m.gif) top center repeat-y;}
.hd_bg .e { width:802px; height:15px; overflow:hidden; background:url(../images/hd_bg_e.gif) top center no-repeat;}

.hd_list { width:782px; margin:0 auto;}
.hd_list li { padding:5px 0px;}
.hd_list li .t { width:782px; height:10px; overflow:hidden; background:url(../images/hd_li_t.gif) top center no-repeat;}
.hd_list li .m { width:782px; background:url(../images/hd_li_m.gif) top center repeat-y;}
.hd_list li .e { width:782px; height:10px; overflow:hidden; background:url(../images/hd_li_e.gif) top center no-repeat;}

.hd_list li.odd .t { width:782px; height:10px; overflow:hidden; background:url(../images/hd_li_act_t.gif) top center no-repeat;}
.hd_list li.odd .m { width:782px; background:url(../images/hd_li_act_m.gif) top center repeat-y;}
.hd_list li.odd .e { width:782px; height:10px; overflow:hidden; background:url(../images/hd_li_act_e.gif) top center no-repeat;}

.hd_list li .m  span.cont { margin:0px 20px; clear:both; display:block;}
.hd_list li .m  span.cont a { color:#1195d7; font-weight:bold;}
.hd_list li .m  span.other { clear:both; text-align:right; line-height:30px; margin:0px 20px; display:block; color:#999; font-size:18px;}
.hd_list li .m  span.other s { float:left; text-decoration:none;}
.hd_list li .m  span.other a { color:#999; padding-left:10px;}

/* 抽奖开始 */
.cj_bg { width:531px; height:328px; overflow:hidden; margin:0px auto; margin-top:150px; background:url(../images/cj_bg.png) top center no-repeat; position:relative;}
.cj_num { width:405px; height:88px;font-size:64px; line-height:88px; text-align:center; font-family:Arial, Helvetica, sans-serif; color:#ed3a00; font-weight:bold; position:absolute; top:65px; left:60px;}
.cj_sele { position:absolute; top:213px; left:38px;}
.cj_btn { position:absolute; top:213px; left:200px;}
.cj_btn a { width:320px; height:75px; overflow:hidden; background:url(../images/cj_btn.png) 0px 0px no-repeat; display:block; text-align:center; line-height:75px; text-indent:9999px;}
.cj_btn a.dis { background:url(../images/cj_btn_dis.png) 0px 0px no-repeat; }

.cj_res { width:531px; margin:30px auto;}
.cj_res h5 { color:#ed3a00; font-weight:bold; background:url(../images/cj_point.png) center left no-repeat; padding-left:20px; line-height:40px;}
.cj_res ul li { margin-right:20px; float:left;}

