@charset "utf-8";
/* CSS Document */
/* Author: H.yIng & Create Time: 2011-11-23 */

/*JMPopups*/			
div.popup {background:#FFF; padding:1px;}
div.popup-header {height:12px;padding:7px; background:url("../images/headbg.gif") repeat-x;overflow: hidden;border: 1px solid #99bbe8;border-top: 0px;color:#15428b}
div.popup-header h2 {margin:0; padding:0; font-size:12px; float:left;}
div.popup-header .close-link {float:right; font-size:11px;}
div.caption .close-link {float:right; font-size:11px;}
div.popup-body {padding-top:4px;}

div.loading{
	background:url("../images/loading.gif") no-repeat;
	background-position:30px;
	padding:30px;
	text-align:center;
	font:20px ;
	color:#2392E1;
}
