@charset "utf-8";
/* CSS Document */
/* Author: H.yIng & Create Time: 2011-11-23 */

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}:focus{outline:0;}html{overflow-y:scroll;overflow-x:auto;}

/* Global */
body,div,table,form,p,select,input,textarea,option,a {
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.5; font-size: 14px; color: #42535f;
}
body { text-align:center; background:#fff;}
div,table { text-align:left;}

/* Common */

a { text-decoration:none; color:#1d94e7;}
/*a:hover { text-decoration:none; color:#39f;}*/

.clearfix { clear:both;}
.highlight { background:#ff0; color:#e00; border-radius:3px;}
.w960 { width:960px; margin:0 auto;}

/* Layout */
.logo { height:35px; background:url(../images/wap/logo_bg.gif) top center repeat-x;}
.logo .w240 { }
.logo .w240 p { text-align:right; line-height:35px; padding-right:10px; color:#fff;}
.logo .w240 p a { color:#fff;}
.logo .w240 p span { color:#af0; font-weight:bold;}

.title { background:url(../images/wap/title_bg.gif) top center repeat-x;}
.title .w240 { background:url(../images/wap/title_bg2.gif) top left no-repeat; text-align:center; line-height:25px; font-weight:bold; color:#fff;}

.nav { background:#ecf6fd url(../images/wap/nav_bg.gif) bottom center repeat-x; width:100%; display:inline-block; text-align:center;}
.nav ul { padding:3px 0px;}
.nav ul li { display:inline;}
.nav ul li a { line-height:23px; padding:0px 10px; color:#07568e; display:inline-block;}
.nav ul li.act a { color:#82c300; font-weight:bold; background:#fff; border:1px solid #82c300; border-bottom:2px solid #82c300;}

.main { background:url(../images/wap/main_bg.gif) top center repeat-x;}
.main .path { padding:0px 10px; line-height:200%;}
.main .article { padding:0px 10px; line-height:200%;}

.main .tools { padding:5px 10px;}
.main a{text-decoration: underline;}
.main .tools a { color:#1d94e7; line-height:180%;}

.footer { height:30px; background:url(../images/wap/footer_bg.gif) top center repeat-x; line-height:30px; color:#fff; text-align:center;}

.meeting_list {}
.meeting_list li { border-bottom:1px dashed #ccc; padding:0px 10px;}
.meeting_list li.odd { background:#f2f2f2;}
.meeting_list li h5 { font-size:14px; color:#42535F;}
.meeting_list li p { font-size:12px; color:#999;}
.meeting_list li span a { font-size:12px;}

.date {	background-color: #c9c999;}
.pagination a {font-size:12px; background-color: #c9c999; border: 1px solid #AAAADD; color: #006699; margin: 2px; padding: 2px 5px; text-decoration: none;}

.message_sub { display: inline-block; *zoom: 1; *display: inline;}
.message_sub p {margin: 5px 10px;}
.message_sub a {font-size:12px; background-color: #c9c999; border: 1px solid #AAAADD; color: #006699; margin: 2px; padding: 2px 5px; text-decoration: none;}
.message_sub span.recipient,.message_sub span.phone,.message_sub span.name {font-size:12px;}
.message_sub span.ipt { overflow:hidden;}
.message_sub span.ipt input { float:right; *float:none; margin:5px 10px; font-size:12px; background-color: #c9c999; border: 1px solid #AAAADD; color: #006699; padding: 2px 5px;}
.message_sub span.ipt textarea { resize: none; margin:5px 10px; border:0px; border: 1px solid #CCCCCC; color:#ccc; font-size:12px;}
.message_sub span.search input { margin:5px 10px; font-size:12px; background-color: #c9c999; border: 1px solid #AAAADD; color: #006699; padding: 2px 5px;}

.message_list li { border-bottom:1px dashed #ccc;}
.message_list li.odd { background:#f0f8fd;}
.message_list li span.content,.message_list li span.name,.message_list li span.ctrl {font-size:12px;}
.message_list li span.ctrl a {font-size:12px;}
.message_list li span.name a {font-size:12px;}
.message_list li span.time,.message_list li span.comment { font-size:12px; color:#aaa;}
.message_list li span.content {word-wrap: break-word;}
.message_list li span.content img {vertical-align: bottom;}
.message_list li div.contentImg img {vertical-align: bottom;}
.message_list li p { clear:both; display:block; line-height:25px; font-size:12px;}
.message_list li div.contentbox {background-color: #F9F9F9; border: 1px solid #E9E9E9; color: #006699;  padding: 2px;}

.btn_blue:active {
    background-position: 0 -60px;
}

.btn_blue {
    background: url("../images/portal/btn.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 80px;
}