@CHARSET "UTF-8";

.container {
	font-size:14px;
}

.container .theme {
	width:180px;
	margin:5px 20px 5px 0;
	float:left;
}

.container .theme .pic {
	text-align:center;
}

.container .theme .pic img {
	width:180px;
	height:120px;
	border:1px solid gray;
}

.container .theme .description {
	margin:10px 0px;
}

.container .theme .description .title {
	font-size:16px;
	color: black;
	text-align: center;
}

.container .theme .description .comments {
	color: gray;
	text-align: center;
}

.container .clear {
	float: none;
	clear: both;
}