@charset "utf-8";
/* CSS Document */
/* Author: H.yIng & Update Time: 2012-03-22 */
/* Email: hyingreborn@qq.com */

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin: 0;padding: 0;}table{border-collapse: collapse;border-spacing: 0;}th{text-align: inherit;}iframe{display: block;}fieldset,img{border: 0;}address,caption,cite,code,dfn,em,strong,th,var{font-style: normal;font-weight: normal;}ol,ul{list-style: none;}aption,th{text-align: left;}h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}q: before,q: after{content: '';}abbr,acronym{border: 0;font-variant: normal;}sup{vertical-align: text-top;}sub{vertical-align: text-bottom;}input,textarea,select{font-family: inherit;font-size: inherit;font-weight: inherit;}input,textarea,select{*font-size: 100%;}legend{color: #000;}: focus{outline: 0;}html{overflow-y:scroll;overflow-x: auto;color:#000;background:#fff;}

/* Common */
.clear { clear:both; display:block; margin:0; padding:0; zoom:1; }
.clear_after:after { content:""; display:block; height:0; clear:both; visibility:hidden;}
.float_left { float:left;}
.float_right { float:right;}
.align_left { text-align:left;}
.align_center { text-align:center;}
.align_right { text-align:right;}
.relative { position:relative;}
.absolute { position:absolute;}
.dynamic_center { margin:0 auto;}
.opacity0 { opacity:0; position:absolute;}
.opacity50 { opacity:.50;}
.clickable { cursor:pointer;}
.table_center { margin:auto;}
.hide { display:none;}
.img { vertical-align:bottom; }
.hidden { display:none!important; visibility:hidden!important;}
.inputfile { position:absolute; top:0px; left:0px; height:27px; width:120px; filter:alpha(opacity:0); opacity: 0; cursor:pointer;}
.border3 { -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.wrap960 { width:960px; margin:0 auto;}

/* mydebug */
.debugbox { position:fixed; top:0px; left:0px;}

/* Custom style */
body,div,table,form,p,select,input,textarea,option,a { font-family: Verdana, Arial, sans-serif; line-height: 1.5; font-size: 14px; color: #333;}
body { text-align:center; background:#fff;}
div,table { text-align:left;}

a { text-decoration:none;}
a:hover { text-decoration:none; color:#069;}

.highlight { background:#ff0; color:#e00; border-radius:3px;}

/* Layout */
header { height:50px; background:url(../../images/touch/title_bg.png) top center repeat-x; text-align:left; position:relative;}
header h3 {font-size:18px; line-height:50px; color:#fff; padding-left:10px; font-weight:bold; text-shadow:0px 2px 0px #096999;}
header .weather { position:absolute; top:5px; right:10px; width:110px; text-align:center; height:40px;}
header .weather img { float:right;}
header .weather .info { float:right; text-align:center; font-weight:bold; line-height:22px; color:#fff;}
header .weather .info s { text-align:center; text-decoration:none; display:block; line-height:18px; font-weight:normal; font-size:12px; color:#fff;}

/* Module */
ul.tab { height:35px; background:url(../../images/touch/tab_bg.jpg) top center repeat-x; text-align:center;}
ul.tab li { width:50%; float:left; height:35px; overflow:hidden; text-align:center; ;}
ul.tab.n03 li { width:33%; border-left:1px solid #33a2d9;}
ul.tab li:active { opacity:0.5;}
ul.tab li a { line-height:35px; font-weight:bold; color:#fff; display:block;}
ul.tab li.act { background:#fff; border-right:0px;}
ul.tab li.act:active { opacity:1;}
ul.tab li.act a { color:#069;}
ul.tab li a span { padding-left:20px;}
ul.tab li a span.i01 { background:url(../../images/touch/tab_icon01.png) 0px 0px no-repeat;}
ul.tab li.act a span.i01 { background:url(../../images/touch/tab_icon01.png) 0px -16px no-repeat;}
ul.tab li a span.i02 { background:url(../../images/touch/tab_icon02.png) 0px 0px no-repeat;}
ul.tab li.act a span.i02 { background:url(../../images/touch/tab_icon02.png) 0px -16px no-repeat;}
ul.tab li a span.i00 { padding-left:0px;}
ul.tab li.m01 { border-left:0px;}
ul.tab li.m03 { border-right:0px;}
.tab_c { display:none;}

ul.nav_icon { margin:10px auto; overflow:auto;}
ul.nav_icon li { float:left; width:25%; text-align:center;}
ul.nav_icon li a { display:block; text-align:center;  margin:5px auto;}
ul.nav_icon li a:active { opacity:0.5;}
ul.nav_icon li a img { width:56px; height:56px; }
ul.nav_icon li a span { display:block; text-align:center; font-weight:normal; height:20px; line-height:20px;}

.boxa {}
.boxa .tit { height:40px; background:url(../../images/touch/box_t_bg.png) top center repeat-x;}
.boxa .tit .ti { float:left; line-height:40px; font-weight:bold; padding-left:10px; color:#069;}
.boxa .tit p.tab { }
.boxa .tit p.tab a { line-height:40px; text-align:center; width:50%; height:40px; overflow:hidden; display:block; float:left;}
.boxa .tit p.tab.n3 a { width:33%;}
.boxa .tit p.tab.n4 a { width:25%;}
.boxa .tit p.tab.n5 a { width:33%;}
.boxa .tit p.tab a.act { background:#069; color:#fff; font-weight:bold; text-shadow:0px 2px 0px #00334d;}
.boxa .tit a.more { float:right; line-height:40px; padding-right:10px; background:url(../../images/touch/more.png) center left no-repeat; padding-left:20px; color:#333;}
.boxa .cont { margin:10px; line-height:1.5;}
.boxa .tabc { display:none; margin:10px;}

ul.cal_list {}
ul.cal_list li { border-bottom:1px solid #ccc;}
ul.cal_list li:active { background:#f2f2f2;}
ul.cal_list li a { display:block;  padding:5px 10px;}
ul.cal_list li a p span.name { font-weight:bold; color:#069;}
ul.cal_list li a p span.aur { float:right;}
ul.cal_list li a p span.time { color:#666; font-size:12px;}
ul.cal_list li a p span.add { color:#666; font-size:12px;}

.time_change { margin:10px; height:25px; text-align:center; position:relative; font-weight:bold; clear:both;}
.time_change a { position:absolute; top:0px; background:url(../../images/touch/icon-list-link.png)  no-repeat center center; width:58px;height:26px;line-height:26px;overflow:hidden;border:1px solid #c4c4c4;text-indent:-9999px;}
.time_change a.prev { left:0px; -webkit-transform:rotate(180deg);}
.time_change a.next { right:0px;}

footer { line-height:2; border-top:1px dashed #ccc; padding:5px 10px; margin:0px 10px;}
footer p.edition { text-align:center;}
footer p.edition a { line-height:2;}
footer p.edition a.act { font-weight:bold; color:#069;}
footer p.copyright { text-align:center; line-height:2;}
