<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd 
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<aop:aspectj-autoproxy />
	<context:annotation-config />

	<tx:annotation-driven transaction-manager="transactionManager" />

	<aop:config>
		<aop:pointcut id="servicePointCut"
			expression="execution(* com.wondertek.meeting.service..*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="servicePointCut" />
	</aop:config>

	<!-- Enable @Configured support -->
	<tx:advice id="txAdvice">
		<tx:attributes>
			<!-- Read-only commented out to make things easier for end-users -->
			<!-- http://issues.appfuse.org/browse/APF-556 -->
			<tx:method name="get*" read-only="true" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="count*" read-only="true" />
			<tx:method name="have*" read-only="true" />
			<tx:method name="is*" read-only="true" />
			<tx:method name="exists*" read-only="true" />
			<tx:method name="query*" read-only="true" />
			<tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="save*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="delete*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="modify*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="remove*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="update*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="executeUpdate*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="executeSql*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="sync*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="upload*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="clientLogin" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="*" propagation="REQUIRED" rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>
	
	<bean id="baseService"
	    class="com.wondertek.meeting.service.impl.BaseServiceImpl">
	</bean>

	<bean id="z" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronFileConvertTrigger"/>
                <ref bean="cronSmsSendTrigger"/>
            </list>
        </property>
    </bean>

    <bean id="cronFileConvertTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="scheduledFileConverDetail"/>
        </property>
        <property name="cronExpression">
            <value>0/5 * * * * ?</value>
        </property>
    </bean>
    <bean id="scheduledFileConverDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="concurrent">
            <value>false</value>
        </property>
        <property name="targetObject">
            <ref bean="fileConvertJob"/>
        </property>
        <property name="targetMethod">
            <value>convert</value>
        </property>
    </bean>
    
    <bean id="cronSmsSendTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="smsSendJobDetail"/>
        </property>
        <property name="cronExpression">
            <value>0/5 * * * * ?</value>
        </property>
    </bean>
    
    <bean id="smsSendJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="concurrent">
            <value>false</value>
        </property>
        <property name="targetObject">
            <ref bean="smsSendJob"/>
        </property>
        <property name="targetMethod">
            <value>processor</value>
        </property>
    </bean>
    <bean id="fileConvertJob" class="com.wondertek.meeting.job.FileConvertJob" autowire="byName">
        <property name="documentRoot">
			<value>${document.root}</value>
		</property>
		<property name="serverUrl">
			<value>${server.docurl}</value>
		</property>
		<property name="serverIP">
			<value>${job.file.server.ip}</value>
		</property>		
    </bean>
    
	<bean id="smsSendJob" class="com.wondertek.meeting.job.SmsSendJob"
		parent="baseService">
		<property name="serverIP">
			<value>${job.sms.server.ip}</value>
		</property>
	</bean>    

	<bean id="userService" class="com.wondertek.meeting.service.impl.UserServiceImpl" parent="baseService">
		<property name="userDao" ref="userDao" />
		<property name="userLoginLogDao" ref="userLoginLogDao" />
		<property name="imeiUserDao" ref="imeiUserDao" />
	</bean>
	
	<bean id="roleService" class="com.wondertek.meeting.service.impl.RoleServiceImpl" parent="baseService">
		<property name="roleDao" ref="roleDao" />
	</bean>
	
	<bean id="meetingAreaService" class="com.wondertek.meeting.service.impl.MeetingAreaServiceImpl" parent="baseService">
		<property name="meetingAreaDao" ref="meetingAreaDao" />
	</bean>
	
	<bean id="adminUserService" class="com.wondertek.meeting.service.impl.AdminUserServiceImpl" parent="baseService">
		<property name="adminUserDao" ref="adminUserDao" />
		<property name="userLoginLogDao" ref="userLoginLogDao" />
	</bean>
	
	<bean id="adminRoleService" class="com.wondertek.meeting.service.impl.AdminRoleServiceImpl" parent="baseService">
		<property name="adminRoleDao" ref="adminRoleDao" />
	</bean>
	
	<bean id="userRoleService" class="com.wondertek.meeting.service.impl.UserRoleServiceImpl" parent="baseService">
		<property name="userRoleDao" ref="userRoleDao" />
	</bean>
	
	<bean id="organizationService" class="com.wondertek.meeting.service.impl.OrganizationServiceImpl" parent="baseService">
		<property name="organizationDao" ref="organizationDao" />
		<property name="adminUserDao" ref="adminUserDao" />
	</bean>
	
	<bean id="meetingService" class="com.wondertek.meeting.service.impl.MeetingServiceImpl" parent="baseService">
		<property name="meetingDao" ref="meetingDao" />
		<property name="meetingFilesDao" ref="meetingFilesDao" />
		<property name="meetingMemberDao" ref="meetingMemberDao" />
		<property name="meetingClientMenuDao" ref="meetingClientMenuDao" />
		<property name="meetingSmsDao" ref="meetingSmsDao" />
		<property name="userApplyDao" ref="userApplyDao" />
		<property name="meetingAgendaDao" ref="meetingAgendaDao" />
		<property name="meetingPostDao" ref="meetingPostDao" />
		<property name="organizationDao" ref="organizationDao" />
	</bean>
	
	<bean id="meetingMemberService" class="com.wondertek.meeting.service.impl.MeetingMemberServiceImpl" parent="baseService">
		<property name="meetingMemberDao" ref="meetingMemberDao" />
	</bean>
	
	<bean id="meetingContentService" class="com.wondertek.meeting.service.impl.MeetingContentServiceImpl" parent="baseService">
		<property name="meetingContentDao" ref="meetingContentDao"></property>
		<property name="clientMenuDao" ref="clientMenuDao" />
	</bean>
	
	<bean id="meetingFilesService" class="com.wondertek.meeting.service.impl.MeetingFilesServiceImpl" parent="baseService">
		<property name="meetingFilesDao" ref="meetingFilesDao"></property>
	</bean>

	<bean id="meetingPostService" class="com.wondertek.meeting.service.impl.MeetingPostServiceImpl" parent="baseService">
		<property name="meetingPostDao" ref="meetingPostDao" />
	</bean>	
	<bean id="meetingCommentService" class="com.wondertek.meeting.service.impl.MeetingCommentServiceImpl" parent="baseService">
		<property name="meetingCommentDao" ref="meetingCommentDao" />
	</bean>
	<bean id="meetingAgendaService" class="com.wondertek.meeting.service.impl.MeetingAgendaServiceImpl" parent="baseService">
		<property name="meetingAgendaDao" ref="meetingAgendaDao" />
	</bean>

	<bean id="signInService" class="com.wondertek.meeting.service.impl.SignInServiceImpl"
		parent="baseService">
		<property name="signInDao" ref="signInDao" />
	</bean>	
	
	<bean id="clientMenuService" class="com.wondertek.meeting.service.impl.ClientMenuServiceImpl"
		parent="baseService">
		<property name="clientMenuDao" ref="clientMenuDao" />
	</bean>	
	
	<bean id="meetingClientMenuService" class="com.wondertek.meeting.service.impl.MeetingClientMenuServiceImpl"
		parent="baseService">
		<property name="meetingClientMenuDao" ref="meetingClientMenuDao" />
	</bean>	
	
	<bean id="userImportService" class="com.wondertek.meeting.service.impl.UserImportServiceImpl"
		parent="baseService">
		<property name="userDao" ref="userDao" />
		<property name="meetingMemberDao" ref="meetingMemberDao" />
	</bean>	
	
	<bean id="meetingSmsService" class="com.wondertek.meeting.service.impl.MeetingSmsServiceImpl"
		parent="baseService">
		<property name="meetingSmsDao" ref="meetingSmsDao" />
		<property name="meetingDao" ref="meetingDao" />
	</bean>
			
	<bean id="meetingDinnerService" class="com.wondertek.meeting.service.impl.MeetingDinnerServiceImpl"
		parent="baseService">
		<property name="meetingDinnerDao" ref="meetingDinnerDao" />
		<property name="userDao" ref="userDao" />
		<property name="dinnerTableDao" ref="dinnerTableDao" />
		<property name="groupPlanDao" ref="groupPlanDao" />
		<property name="meetingMemberDao" ref="meetingMemberDao" />
	</bean>	
		
	<bean id="dinnerTableService" class="com.wondertek.meeting.service.impl.DinnerTableServiceImpl"
		parent="baseService">
		<property name="dinnerTableDao" ref="dinnerTableDao" />
	</bean>
	
	<bean id="userApplyService" class="com.wondertek.meeting.service.impl.UserApplyServiceImpl"
		parent="baseService">
		<property name="userApplyDao" ref="userApplyDao" />
	</bean>
	
	<bean id="meetingGroupService" class="com.wondertek.meeting.service.impl.MeetingGroupServiceImpl"
		parent="baseService">
		<property name="userDao" ref="userDao" />
		<property name="meetingGroupDao" ref="meetingGroupDao" />
	</bean>
	
	<bean id="groupPlanService" class="com.wondertek.meeting.service.impl.GroupPlanServiceImpl"
		parent="baseService">
		<property name="groupPlanDao" ref="groupPlanDao" />
		<property name="userDao" ref="userDao" />
		<property name="groupPlanDetailDao" ref="groupPlanDetailDao" />
		<property name="groupPlanMemberDao" ref="groupPlanMemberDao" />
		<property name="meetingGroupDao" ref="meetingGroupDao" />
		<property name="meetingMemberDao" ref="meetingMemberDao" />
	</bean>
	
	<bean id="groupPlanDetailService" class="com.wondertek.meeting.service.impl.GroupPlanDetailServiceImpl"
		parent="baseService">
		<property name="groupPlanDetailDao" ref="groupPlanDetailDao" />
	</bean>
	
	<bean id="applicationContextHelper" class="com.wondertek.meeting.common.ApplicationContextHelper">
    </bean>
    
    <bean id="clientVersionService" class="com.wondertek.meeting.service.impl.ClientVersionServiceImpl"
		parent="baseService">
		<property name="clientVersionDao" ref="clientVersionDao" />
	</bean>
    
	<bean id="fileSystemService" class="com.wondertek.meeting.service.FileSystemService"
		autowire="byName">
		<property name="documentRoot">
			<value>${document.root}</value>
		</property>
		<property name="serverUrl">
			<value>${server.docurl}</value>
		</property>
	</bean>
	
    <bean id="messageService" class="com.wondertek.meeting.service.impl.MessageServiceImpl"
		parent="baseService">
		<property name="messageDao" ref="messageDao" />
	</bean>
		
    <bean id="meetingSmsTemplateService" class="com.wondertek.meeting.service.impl.MeetingSmsTemplateServiceImpl"
		parent="baseService">
		<property name="meetingSmsTemplateDao" ref="meetingSmsTemplateDao" />
	</bean>
	<bean id="baseMenuService" class="com.wondertek.meeting.service.impl.BaseMenuServiceImpl"
		parent="baseService">
		<property name="baseMenuDao" ref="baseMenuDao" />
		<property name="clientMenuDao" ref="clientMenuDao" />
		<property name="meetingTypeDao" ref="meetingTypeDao" />
		<property name="baseModuleTitleDao" ref="baseModuleTitleDao" />
		<property name="meetingModuleTitleDao" ref="meetingModuleTitleDao" />
	</bean>
	<bean id="meetingFilesAssortService" class="com.wondertek.meeting.service.impl.MeetingFilesAssortServiceImpl"
		parent="baseService">
		<property name="meetingFilesAssortDao" ref="meetingFilesAssortDao" />
	</bean>

	<bean id="weatherService" class="com.wondertek.meeting.service.WeatherService"
		autowire="byName">
	</bean>
	
	<bean id="giftService" class="com.wondertek.meeting.service.impl.GiftServiceImpl"
		parent="baseService">
		<property name="giftDao" ref="giftDao" />
	</bean>
	
	<bean id="userLoginLogService" class="com.wondertek.meeting.service.impl.UserLoginLogServiceImpl"
		parent="baseService">
		<property name="userLoginLogDao" ref="userLoginLogDao" />
	</bean>
	
	<bean id="giftOrderService" class="com.wondertek.meeting.service.impl.GiftOrderServiceImpl"
		parent="baseService">
		<property name="giftOrderDao" ref="giftOrderDao" />
	</bean>
	
	<bean id="meetingAccessLogService" class="com.wondertek.meeting.service.impl.MeetingAccessLogServiceImpl"
		parent="baseService">
		<property name="meetingAccessLogDao" ref="meetingAccessLogDao" />
		<property name="meetingDao" ref="meetingDao" />
	</bean>
	
	<bean id="hotelService" class="com.wondertek.meeting.service.impl.reception.HotelServiceImpl"
		parent="baseService">
		<property name="hotelDao" ref="hotelDao" />
	</bean>
		
	<bean id="hotelImageService" class="com.wondertek.meeting.service.impl.reception.HotelImageServiceImpl"
		parent="baseService">
		<property name="hotelImageDao" ref="hotelImageDao" />
	</bean>
	
	<bean id="diningRoomService" class="com.wondertek.meeting.service.impl.reception.DiningRoomServiceImpl"
		parent="baseService">
		<property name="diningRoomDao" ref="diningRoomDao" />
	</bean>
	
	<bean id="hotelRoomTypeService" class="com.wondertek.meeting.service.impl.reception.HotelRoomTypeServiceImpl"
		parent="baseService">
		<property name="hotelRoomTypeDao" ref="hotelRoomTypeDao" />
	</bean>
	
	<bean id="analyticsLogService" class="com.wondertek.meeting.service.impl.AnalyticsLogServiceImpl"
		parent="baseService">
		<property name="analyticsLogDao" ref="analyticsLogDao" />
		<property name="clientMenuDao" ref="clientMenuDao" />
	</bean>
	
	<bean id="tagService" class="com.wondertek.meeting.service.impl.TagServiceImpl"
		parent="baseService">
		<property name="tagDao" ref="tagDao" />
	</bean>
	
    <bean id="meetingStatisticsService" class="com.wondertek.meeting.service.impl.MeetingStatisticsServiceImpl" parent="baseService">
    	<property name="messageStatisticsDao" ref="messageStatisticsDao" />
    	<property name="meetingDao" ref="meetingDao" />
    </bean>
    
    	<bean id="pageThemeService" class="com.wondertek.meeting.service.impl.custom.PageThemeServiceImpl"	parent="baseService">
		<property name="pageThemeDao" ref="pageThemeDao" />
	</bean>
	
	<bean id="pageCustomService" class="com.wondertek.meeting.service.impl.custom.PageCustomServiceImpl" parent="baseService">
		<property name="pageCustomDao" ref="pageCustomDao" />
	</bean>
	
	<bean id="meetingTypeService" class="com.wondertek.meeting.service.impl.custom.MeetingTypeServiceImpl" parent="baseService">
		<property name="meetingTypeDao" ref="meetingTypeDao" />
	</bean>
	
	<bean id="baseModuleTitleService" class="com.wondertek.meeting.service.impl.BaseModuleTitleServiceImpl" parent="baseService">
		<property name="baseModuleTitleDao" ref="baseModuleTitleDao" />
	</bean>
	
	<bean id="vehicleService" class="com.wondertek.meeting.service.impl.VehicleServiceImpl" parent="baseService">
		<property name="vehicleDao" ref="vehicleDao" />
	</bean>
	
	<bean id="vehicleDriverService" class="com.wondertek.meeting.service.impl.VehicleDriverServiceImpl" parent="baseService">
		<property name="vehicleDriverDao" ref="vehicleDriverDao" />
	</bean>
	
	<bean id="journeyService" class="com.wondertek.meeting.service.impl.JourneyServiceImpl" parent="baseService">
		<property name="journeyDao" ref="journeyDao" />
	</bean>
	
	<bean id="journeyMemberService" class="com.wondertek.meeting.service.impl.JourneyMemberServiceImpl" parent="baseService">
		<property name="journeyMemberDao" ref="journeyMemberDao" />
	</bean>
	<bean id="meetingModuleTitleService" class="com.wondertek.meeting.service.impl.MeetingModuleTitleServiceImpl" parent="baseService">
		<property name="meetingModuleTitleDao" ref="meetingModuleTitleDao" />
	</bean>
	
	<!-- 投票管理  begin   add by zouxiaoming-->
	<bean id="voteService" class="com.wondertek.meeting.service.impl.VoteBaseInfoServiceImpl"  parent="baseService">
		<property name="voteDao" ref="voteDao" />
		<property name="voteItemDao" ref="voteItemDao" />
		<property name="voteHistoryDao" ref="voteHistoryDao" />
	</bean>
	<bean id="voteItemService" class="com.wondertek.meeting.service.impl.VoteItemServiceImpl"  parent="baseService">
		<property name="voteItemDao" ref="voteItemDao" />
	</bean>
	<bean id="voteHistoryService" class="com.wondertek.meeting.service.impl.VoteHistoryServiceImpl"  parent="baseService">
		<property name="voteHistoryDao" ref="voteHistoryDao" />
	</bean>
	<!--投票管理     end-->
	
	
	<!-- 会场建议  begin   add by zouxiaoming-->
	<bean id="paperService" class="com.wondertek.meeting.service.impl.PaperServiceImpl"  parent="baseService">
		<property name="questionDao" ref="questionDao" />
		<property name="paperDao" ref="paperDao" />
		<property name="answerPaperDao" ref="answerPaperDao" />
	</bean>
	
	<bean id="answerPaperService" class="com.wondertek.meeting.service.impl.AnswerPaperServiceImpl"  parent="baseService">
		<property name="answerPaperDao"  ref="answerPaperDao" />
		<property name="questionItemDao" ref="questionItemDao" />
		<property name="paperDao" ref="paperDao" />
		<property name="questionDao" ref="questionDao" />
	</bean>
	
	<bean id="questionService" class="com.wondertek.meeting.service.impl.QuestionServiceImpl"  parent="baseService">
		<property name="questionDao" ref="questionDao" />
		<property name="questionItemDao" ref="questionItemDao" />
	</bean>
	
	<bean id="questionItemService" class="com.wondertek.meeting.service.impl.QuestionItemServiceImpl"  parent="baseService">
		<property name="questionItemDao" ref="questionItemDao" />
	</bean>
	<!--会场建议     end-->
	
	<!-- 嘉宾管理  begin   add by zouxiaoming-->
	<bean id="guestService" class="com.wondertek.meeting.service.impl.GuestServiceImpl"  parent="baseService">
		<property name="guestDao" ref="guestDao" />
	</bean>
	<!--嘉宾管理    end-->
	
	<!-- 抽奖管理  begin   add by zouxiaoming-->
	<bean id="luckyDrawService" class="com.wondertek.meeting.service.impl.LuckyDrawServiceImpl"  parent="baseService">
		<property name="luckyDrawDao" ref="luckyDrawDao" />
		<property name="luckyHistoryDao" ref="luckyHistoryDao" />
		<property name="luckyUserDao" ref="luckyUserDao" />
	</bean>
	<bean id="luckyHistoryService" class="com.wondertek.meeting.service.impl.LuckyHistoryServiceImpl"  parent="baseService">
		<property name="luckyHistoryDao" ref="luckyHistoryDao" />
	</bean>
	
	<bean id="luckyUserService" class="com.wondertek.meeting.service.impl.LuckyUserServiceImpl"  parent="baseService">
		<property name="luckyUserDao" ref="luckyUserDao" />
	</bean>
	<!--抽奖管理    end-->
	
	<bean id="cardService" class="com.wondertek.meeting.service.impl.rfid.CardServiceImpl" parent="baseService">
		<property name="cardDao" ref="cardDao" />
		<property name="issueCardDao" ref="issueCardDao" />
		<property name="triggerTaskDao" ref="triggerTaskDao" />
		<property name="meetingAgendaDao" ref="meetingAgendaDao" />
		<property name="rfidSignInDao" ref="rfidSignInDao" />
		<property name="userService" ref="userService" />
		<property name="signEventService" ref="signEventService" />
	</bean>
	
	<bean id="meetingSpecialtyService" class="com.wondertek.meeting.service.impl.reception.MeetingSpecialtyServiceImpl" parent="baseService">
		<property name="meetingDao" ref="meetingDao" />
		<property name="meetingSpecialtyDao" ref="meetingSpecialtyDao" />
		<property name="localSpecialtyDao" ref="localSpecialtyDao" />
	</bean>
	
	<!-- 会议发言人  -->
	<bean id="spokesmanService" class="com.wondertek.meeting.service.impl.SpokesmanServiceImpl" parent="baseService">
		<property name="spokesmanDao" ref="spokesmanDao" />
	</bean>
	
	<bean id="hotelRoomService" class="com.wondertek.meeting.service.impl.reception.HotelRoomServiceImpl" parent="baseService">
		<property name="hotelRoomDao" ref="hotelRoomDao" />
		<property name="hotelRoomTypeService" ref="hotelRoomTypeService" />
		<property name="meetingMemberService" ref="meetingMemberService" />
	</bean>
	
	<!-- 资产管理 -->
	<bean id="assetService" class="com.wondertek.meeting.service.impl.AssetServiceImpl" parent="baseService">
		<property name="assetDao" ref="assetDao" />
	</bean>
	
	<!-- news -->
	<bean id="newsService" class="com.wondertek.meeting.service.impl.NewsServiceImpl" parent="baseService">
		<property name="newsDao" ref="newsDao" />
	</bean>
	
	<!-- MEETING TASK PLAN -->
	<bean id="meetingTaskService" class="com.wondertek.meeting.service.impl.MeetingTaskServiceImpl" parent="baseService">
		<property name="meetingTaskDao" ref="meetingTaskDao" />
	</bean>
	<bean id="meetingTaskDetailService" class="com.wondertek.meeting.service.impl.MeetingTaskDetailServiceImpl" parent="baseService">
		<property name="meetingTaskDetailDao" ref="meetingTaskDetailDao" />
	</bean>
	
	<bean id="managerSeatService" class="com.wondertek.meeting.service.impl.ManagerSeatServiceImpl" parent="baseService">
		<property name="managerSeatDao" ref="managerSeatDao" />
		<property name="meetingMemberDao" ref="meetingMemberDao" />
		<property name="userDao" ref="userDao" />
	</bean>
	
	
	<bean id="signEventService" class="com.wondertek.meeting.service.impl.SignEventServiceImpl" parent="baseService">
		<property name="signEventDao" ref="signEventDao" />
		<property name="userDao" ref="userDao" />
		<property name="rfidSignInDao" ref="rfidSignInDao" />
	</bean>
	
	<bean id="securityRoleService" class="com.wondertek.meeting.service.impl.SecurityRoleServiceImpl" parent="baseService">
		<property name="securityRoleDao" ref="securityRoleDao" />
	</bean>
	
	<bean id="securityUnitService" class="com.wondertek.meeting.service.impl.SecurityUnitServiceImpl" parent="baseService">
		<property name="securityUnitDao" ref="securityUnitDao" />
	</bean>
	
	<bean id="securityRoleUnitService" class="com.wondertek.meeting.service.impl.SecurityRoleUnitServiceImpl" parent="baseService">
		<property name="securityRoleUnitDao" ref="securityRoleUnitDao" />
	</bean>
	
	
	
</beans>