<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl"
			value="jdbc:mysql://${jdbc.meeting.url}?useUnicode=true&amp;characterEncoding=utf-8" />
		<property name="user" value="${jdbc.meeting.username}" />
		<property name="password" value="${jdbc.meeting.password}" />
		<property name="maxPoolSize" value="50" />
		<property name="maxIdleTime" value="300" />
		<property name="checkoutTimeout" value="8000" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		lazy-init="true">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingLocations">
			<list>
				<value>classpath:com/wondertek/meeting/model/conf/*.hbm.xml</value>
				<value>classpath:com/wondertek/meeting/model/conf/custom/*.hbm.xml</value>
				<value>classpath:com/wondertek/meeting/model/conf/rfid/*.hbm.xml</value>
				<value>classpath:com/wondertek/meeting/model/conf/reception/*.hbm.xml</value>
				<value>classpath:com/wondertek/meeting/model/conf/spokesman/*.hbm.xml</value>
				<value>classpath:com/wondertek/meeting/model/conf/security/*.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.query.substitutions">true 'Y', false 'N'</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.max_fetch_depth">3</prop>
				<prop key="hibernate.default_batch_fetch_size">8</prop>
				<prop key="hibernate.jdbc.fetch_size">50</prop>
				<prop key="hibernate.jdbc.batch_size">25</prop>
				<prop key="hibernate.connection.release_mode">after_transaction</prop>
				<prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.generate_statistics">true</prop>
			</props>
		</property>
		<property name="lobHandler" ref="oracleLobHandle" />
	</bean>

	<bean id="nativeJdbcExtractor"
		class="org.springframework.jdbc.support.nativejdbc.SimpleNativeJdbcExtractor" />

	<bean id="oracleLobHandle" class="org.springframework.jdbc.support.lob.OracleLobHandler">
		<property name="nativeJdbcExtractor" ref="nativeJdbcExtractor" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Add new DAOs here -->
	<bean id="baseDao" abstract="true"
		class="com.wondertek.meeting.dao.impl.BaseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="organizationDao" class="com.wondertek.meeting.dao.impl.OrganizationDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="userDao" class="com.wondertek.meeting.dao.impl.UserDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="roleDao" class="com.wondertek.meeting.dao.impl.RoleDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="adminUserDao" class="com.wondertek.meeting.dao.impl.AdminUserDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="adminRoleDao" class="com.wondertek.meeting.dao.impl.AdminRoleDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="userRoleDao" class="com.wondertek.meeting.dao.impl.UserRoleDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="userLoginLogDao" class="com.wondertek.meeting.dao.impl.UserLoginLogDaoImpl"
		parent="baseDao">
	</bean>
	
	<bean id="meetingAreaDao" class="com.wondertek.meeting.dao.impl.MeetingAreaDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="meetingMemberDao" class="com.wondertek.meeting.dao.impl.MeetingMemberDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="meetingDao" class="com.wondertek.meeting.dao.impl.MeetingDaoImpl"
		parent="baseDao">
		<property name="organizationDao" ref="organizationDao" />
	</bean>
	<bean id="meetingLayoutDao" class="com.wondertek.meeting.dao.impl.MeetingLayoutDaoImpl"
		parent="baseDao">
	</bean>
	<bean id="meetingAgendaDao" class="com.wondertek.meeting.dao.impl.MeetingAgendaDaoImpl"
		parent="baseDao">
	</bean>
	<bean id="meetingTemplateDao" class="com.wondertek.meeting.dao.impl.MeetingTemplateDaoImpl"
		parent="baseDao">
	</bean>
	<bean id="taskDao" class="com.wondertek.meeting.dao.impl.TaskDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="meetingContentDao" class="com.wondertek.meeting.dao.impl.MeetingContentDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="meetingFilesDao" class="com.wondertek.meeting.dao.impl.MeetingFilesDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="meetingPostDao" class="com.wondertek.meeting.dao.impl.MeetingPostDaoImpl"
		parent="baseDao" />
	<bean id="meetingCommentDao" class="com.wondertek.meeting.dao.impl.MeetingCommentDaoImpl"
		parent="baseDao" />

	<bean id="signInDao" class="com.wondertek.meeting.dao.impl.SignInDaoImpl"
		parent="baseDao" />

	<bean id="clientMenuDao" class="com.wondertek.meeting.dao.impl.ClientMenuDaoImpl"
		parent="baseDao" />

	<bean id="meetingClientMenuDao" class="com.wondertek.meeting.dao.impl.MeetingClientMenuDaoImpl"
		parent="baseDao" />

	<bean id="meetingSmsDao" class="com.wondertek.meeting.dao.impl.MeetingSmsDaoImpl"
		parent="baseDao" />

	<bean id="meetingDinnerDao" class="com.wondertek.meeting.dao.impl.MeetingDinnerDaoImpl"
		parent="baseDao" />

	<bean id="dinnerTableDao" class="com.wondertek.meeting.dao.impl.DinnerTableDaoImpl"
		parent="baseDao" />

	<bean id="userApplyDao" class="com.wondertek.meeting.dao.impl.UserApplyDaoImpl"
		parent="baseDao" />

	<bean id="meetingGroupDao" class="com.wondertek.meeting.dao.impl.MeetingGroupDaoImpl"
		parent="baseDao" />

	<bean id="clientVersionDao" class="com.wondertek.meeting.dao.impl.ClientVersionDaoImpl"
		parent="baseDao" />

	<bean id="groupPlanDao" class="com.wondertek.meeting.dao.impl.GroupPlanDaoImpl"
		parent="baseDao" />

	<bean id="groupPlanDetailDao" class="com.wondertek.meeting.dao.impl.GroupPlanDetailDaoImpl"
		parent="baseDao" />

	<bean id="groupPlanMemberDao" class="com.wondertek.meeting.dao.impl.GroupPlanMemberDaoImpl"
		parent="baseDao" />

	<bean id="messageDao" class="com.wondertek.meeting.dao.impl.MessageDaoImpl"
		parent="baseDao" />

	<bean id="meetingSmsTemplateDao" class="com.wondertek.meeting.dao.impl.MeetingSmsTemplateDaoImpl"
		parent="baseDao" />
		
	<bean id="giftDao" class="com.wondertek.meeting.dao.impl.GiftDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="giftOrderDao" class="com.wondertek.meeting.dao.impl.GiftOrderDaoImpl"
		parent="baseDao">
	</bean>
	
	<bean id="meetingAccessLogDao" class="com.wondertek.meeting.dao.impl.MeetingAccessLogDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="hotelDao" class="com.wondertek.meeting.dao.impl.reception.HotelDaoImpl"
		parent="baseDao">
	</bean>
	
	<bean id="hotelImageDao" class="com.wondertek.meeting.dao.impl.reception.HotelImageDaoImpl"
		parent="baseDao">
	</bean>
	
	<bean id="diningRoomDao" class="com.wondertek.meeting.dao.impl.reception.DiningRoomDaoImpl"
		parent="baseDao">
	</bean>
	
	<bean id="hotelRoomTypeDao" class="com.wondertek.meeting.dao.impl.reception.HotelRoomTypeDaoImpl"
		parent="baseDao">
	</bean>

	<bean id="hibernateStatisticsDao"
		class="com.wondertek.meeting.dao.impl.HibernateStatisticsDaoImpl"
		parent="baseDao">
	</bean>
	
	<bean id="baseMenuDao" class="com.wondertek.meeting.dao.impl.BaseMenuDaoImpl"
		parent="baseDao" />

	<bean id="meetingFilesAssortDao"
		class="com.wondertek.meeting.dao.impl.MeetingFilesAssortDaoImpl"
		parent="baseDao" />

	<bean id="pageThemeDao" class="com.wondertek.meeting.dao.impl.custom.PageThemeDaoImpl"
		parent="baseDao" />

	<bean id="pageCustomDao" class="com.wondertek.meeting.dao.impl.custom.PageCustomDaoImpl"
		parent="baseDao" />

	<bean id="meetingTypeDao"
		class="com.wondertek.meeting.dao.impl.custom.MeetingTypeDaoImpl"
		parent="baseDao" />

	<bean id="analyticsLogDao" class="com.wondertek.meeting.dao.impl.AnalyticsLogDaoImpl"
		parent="baseDao" />

	<bean id="imeiUserDao" class="com.wondertek.meeting.dao.impl.ImeiUserDaoImpl"
		parent="baseDao" />

	<bean id="tagDao" class="com.wondertek.meeting.dao.impl.TagDaoImpl"
		parent="baseDao" />

	<bean id="messageStatisticsDao" class="com.wondertek.meeting.dao.impl.MessageStatisticsDaoImpl"
		parent="baseDao" />
		
	<bean id="baseModuleTitleDao" class="com.wondertek.meeting.dao.impl.BaseModuleTitleDaoImpl"
		parent="baseDao" />
		
	<bean id="vehicleDao" class="com.wondertek.meeting.dao.impl.VehicleDaoImpl"
		parent="baseDao" />
	<bean id="vehicleDriverDao" class="com.wondertek.meeting.dao.impl.VehicleDriverDaoImpl"
		parent="baseDao" />
	<bean id="journeyDao" class="com.wondertek.meeting.dao.impl.JourneyDaoImpl"
		parent="baseDao" />
	<bean id="journeyMemberDao" class="com.wondertek.meeting.dao.impl.JourneyMemberDaoImpl"
		parent="baseDao" />
		
	<bean id="meetingModuleTitleDao" class="com.wondertek.meeting.dao.impl.MeetingModuleTitleDaoImpl"
		parent="baseDao" />
		
	<!-- 投票管理  begin   add by zouxiaoming-->
	<bean id="voteDao" class="com.wondertek.meeting.dao.impl.VoteBaseInfoDaoImpl"  parent="baseDao" />
	<bean id="voteItemDao" class="com.wondertek.meeting.dao.impl.VoteItemDaoImpl"  parent="baseDao" />
	<bean id="voteHistoryDao" class="com.wondertek.meeting.dao.impl.VoteHistoryDaoImpl"  parent="baseDao" />
	<!--投票管理     end-->	
	
	<!-- 会场建议  begin   add by zouxiaoming-->
	<bean  id="paperDao" class="com.wondertek.meeting.dao.impl.PaperDaoImpl"   parent="baseDao" />
	<bean  id="questionDao" class="com.wondertek.meeting.dao.impl.QuestionDaoImpl"  parent="baseDao" />
	<bean  id="questionItemDao" class="com.wondertek.meeting.dao.impl.QuestionItemDaoImpl"  parent="baseDao" />
	<bean  id="answerPaperDao" class="com.wondertek.meeting.dao.impl.AnswerPaperDaoImpl"  parent="baseDao" />
	
	<!-- 会场建议     end-->
	
	<!-- 嘉宾管理  begin   add by zouxiaoming-->
	<bean  id="guestDao"  class="com.wondertek.meeting.dao.impl.GuestDaoImpl"   parent="baseDao" />
	<!-- 嘉宾管理     end-->
	
	<!-- 抽奖管理  begin   add by zouxiaoming-->
	<bean  id="luckyDrawDao"  class="com.wondertek.meeting.dao.impl.LuckyDrawDaoImpl"   parent="baseDao" />
	<bean  id="luckyHistoryDao"  class="com.wondertek.meeting.dao.impl.LuckyHistoryDaoImpl"   parent="baseDao" />
	<bean  id="luckyUserDao"  class="com.wondertek.meeting.dao.impl.LuckyUserDaoImpl"   parent="baseDao" />
	<!-- 抽奖管理     end-->
	
	<bean id="cardDao" class="com.wondertek.meeting.dao.impl.rfid.CardDaoImpl"
		parent="baseDao" />
	<bean id="issueCardDao" class="com.wondertek.meeting.dao.impl.rfid.IssueCardDaoImpl"
		parent="baseDao" />
	<bean id="triggerTaskDao" class="com.wondertek.meeting.dao.impl.rfid.TriggerTaskDaoImpl"
		parent="baseDao" />
	<bean id="rfidSignInDao" class="com.wondertek.meeting.dao.impl.rfid.RfidSignInDaoImpl"
		parent="baseDao" />
		
	<bean id="meetingSpecialtyDao" class="com.wondertek.meeting.dao.impl.reception.MeetingSpecialtyDaoImpl"
		parent="baseDao" />
	<bean id="localSpecialtyDao" class="com.wondertek.meeting.dao.impl.reception.LocalSpecialtyDaoImpl"
		parent="baseDao" />	
	
	<bean id="spokesmanDao" class="com.wondertek.meeting.dao.impl.SpokesmanDaoImpl" parent="baseDao" />
	<bean id="hotelRoomDao" class="com.wondertek.meeting.dao.impl.reception.HotelRoomDaoImpl" parent="baseDao" />
	
	<bean id="assetDao" class="com.wondertek.meeting.dao.impl.AssetDaoImpl" parent="baseDao" />
	
	<!-- news -->
	<bean id="newsDao" class="com.wondertek.meeting.dao.impl.NewsDaoImpl" parent="baseDao" />
	
	<bean id="meetingTaskDao" class="com.wondertek.meeting.dao.impl.MeetingTaskDaoImpl" parent="baseDao" />
	<bean id="meetingTaskDetailDao" class="com.wondertek.meeting.dao.impl.MeetingTaskDetailDaoImpl" parent="baseDao" />
	
	<bean id="managerSeatDao" class="com.wondertek.meeting.dao.impl.ManagerSeatDaoImpl" parent="baseDao" />
	<bean id="signEventDao" class="com.wondertek.meeting.dao.impl.SignEventDaoImpl" parent="baseDao" />
	
	<bean id="securityRoleDao" class="com.wondertek.meeting.dao.impl.SecurityRoleDaoImpl" parent="baseDao" />
	<bean id="securityUnitDao" class="com.wondertek.meeting.dao.impl.SecurityUnitDaoImpl" parent="baseDao" />
	<bean id="securityRoleUnitDao" class="com.wondertek.meeting.dao.impl.SecurityRoleUnitDaoImpl" parent="baseDao" />
	
	
</beans>